@font-face {
  font-family: rubik;
  src: url(../assets/fonts/Rubik-Regular.ttf);
}

$gradient-me: linear-gradient(180deg, #f8835b 25.7%, #ff4100 100%);
$color-h2: #ff4100;
$font-stack: rubik, serif;
$light-color: #f4f4f4;
$color-primary: #f8835b;
$color-secondary: #faa88b;
$color-font-inner: #5a2d2d;
$color-article-background: #ffe2d8;
